<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">  
</head> 
<body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-danger">Django Based CRUD Application</h2>
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'popper.js' %}"></script>
    <script src="{% static 'bootstrap.js' %}"></script>
</body>
</html>